@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0 20px;
    font-size: 18px;
    font-family: monospace;
}
pre, code {
    margin: 0;
    padding: 0;
}
code {
    margin-bottom: -30px;
    font-size: 14px;
    line-height: 1.5;
}
p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8;
}

.contents-wrapper {
    margin-bottom: 160px;
}

.title-type02 {
    padding-left: 20px;
    line-height: 1.8;
    border-left: 2px solid yellowgreen;
    background-color: #eee;
}
.title-type03 {
    padding-left: 20px;
    line-height: 1.8;
    color: #333;
    border-left: 5px solid yellowgreen;
}
.title-type04::before {
    content: '▼';
    margin-right: 10px;
    font-size: 20px;
    color: yellowgreen;
}

.content-example {
    margin-top: 100px;
}
.code-preview-area {
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.code-preview-area:first-child {
    margin-top: 0;
}

/* グリッドラッパー */
.grid-wrapper {
    display: grid;
}


/*
 * grid-template-columns プロパティ
 * ・指定した値の数だけ、列数が増える（グリッドアイテムの上限数による）
*/
.grid-wrapper-example02-1 {
    grid-template-columns: none; /* 初期値 */
}
.grid-wrapper-example02-2 {
    grid-template-columns: max-content 600px 100px;
}
.grid-wrapper-example02-3 {
    grid-template-columns: min-content 600px 100px;    
}
.grid-wrapper-example02-4 {
    grid-template-columns: minmax(auto, 500px) 600px 100px;
}
.grid-wrapper-example02-5 {
    grid-template-columns: fit-content(300px) fit-content(300px) 100px;
}
.grid-wrapper-example02-6 {
    grid-template-columns: repeat(2, 600px 100px);
}
.grid-wrapper-example02-7 {
    grid-template-columns: auto auto auto;
}

/*
 * grid-template-rows プロパティ
 * ・指定した値の数だけ、行数が増える（グリッドアイテムの上限数による）
*/
.grid-wrapper-example02-8 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: none;    /* 初期値 */
}
.grid-wrapper-example02-9 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: max-content 600px 100px;
}
.grid-wrapper-example02-10 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: min-content 600px 100px;
}
.grid-wrapper-example02-11 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: minmax(auto, 300px) 600px 100px;
}
.grid-wrapper-example02-12 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: fit-content(300px) fit-content(300px) 100px;
}
.grid-wrapper-example02-13 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: repeat(2, 600px 100px);
}
.grid-wrapper-example02-14 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: auto auto auto;
}



/* グリッドアイテム */
.grid-items,
.grid-items__nested {
    /* padding: 20px; */
    text-align: center;
    border: 1px solid #fff;
    background-color: yellowgreen;
}
.grid-items:first-child {
    background-color: #6cb90d;
}