@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0 20px;
    font-size: 18px;
    font-family: monospace;
}
pre, code {
    margin: 0;
    padding: 0;
}
code {
    margin-bottom: -30px;
    font-size: 14px;
    line-height: 1.5;
}
p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8;
}

.contents-wrapper {
    margin-bottom: 160px;
}

.title-type02 {
    padding-left: 20px;
    line-height: 1.8;
    border-left: 2px solid yellowgreen;
    background-color: #eee;
}
.title-type03 {
    padding-left: 20px;
    line-height: 1.8;
    color: #333;
    border-left: 5px solid yellowgreen;
}
.title-type04::before {
    content: '▼';
    margin-right: 10px;
    font-size: 20px;
    color: yellowgreen;
}

.content-example {
    margin-top: 100px;
}
.code-preview-area {
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.code-preview-area:first-child {
    margin-top: 0;
}

/* グリッドラッパー */
.grid-wrapper {
    display: grid;
}


/*
 * grid-template-columns プロパティ
 * ・指定した値の数だけ、列数が増える（グリッドアイテムの上限数による）
*/
.grid-wrapper-example02-1 {
    grid-template-columns: none; /* 初期値 */
}
.grid-wrapper-example02-2 {
    grid-template-columns: max-content 600px 100px;
}
.grid-wrapper-example02-3 {
    grid-template-columns: min-content 600px 100px;    
}
.grid-wrapper-example02-4 {
    grid-template-columns: minmax(auto, 500px) 600px 100px;
}
.grid-wrapper-example02-5 {
    grid-template-columns: fit-content(300px) fit-content(300px) 100px;
}
.grid-wrapper-example02-6 {
    grid-template-columns: repeat(2, 600px 100px);
}
.grid-wrapper-example02-7 {
    grid-template-columns: auto auto auto;
}

/*
 * grid-template-rows プロパティ
 * ・指定した値の数だけ、行数が増える（グリッドアイテムの上限数による）
*/
.grid-wrapper-example02-8 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: none;    /* 初期値 */
}
.grid-wrapper-example02-9 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: max-content 600px 100px;
}
.grid-wrapper-example02-10 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: min-content 600px 100px;
}
.grid-wrapper-example02-11 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: minmax(auto, 300px) 600px 100px;
}
.grid-wrapper-example02-12 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: fit-content(300px) fit-content(300px) 100px;
}
.grid-wrapper-example02-13 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: repeat(2, 600px 100px);
}
.grid-wrapper-example02-14 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows: auto auto auto;
}

/*
 * grid-template-area プロパティ
 * ・名前付きのグリッド領域を指定する
*/
.grid-wrapper-example02-15 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows:    none; /* 初期値 */
    grid-template-areas:   none; /* 初期値 */
}
.grid-wrapper-example02-16 {
    grid-template-columns: none; /* 初期値 */
    grid-template-rows:    none; /* 初期値 */
    grid-template-areas: "a a a e"
                         "b c c ."
                         "b d d ."
                         "f f f .";
}
.grid-wrapper-example02-16 :nth-child(1){ grid-area: a;}
.grid-wrapper-example02-16 :nth-child(2){ grid-area: b;}
.grid-wrapper-example02-16 :nth-child(3){ grid-area: c;}
.grid-wrapper-example02-16 :nth-child(4){ grid-area: d;}
.grid-wrapper-example02-16 :nth-child(5){ grid-area: e;}
.grid-wrapper-example02-16 :nth-child(6){ grid-area: f;}

/*
 * grid-auto-columns プロパティ
 * ・
*/
.grid-wrapper-example03-1 {
    grid-auto-columns: auto; /* 初期値 */
}
.grid-wrapper-example03-2 {
    grid-auto-columns: max-content;
}
.grid-wrapper-example03-3 {
    grid-auto-columns: min-content;
}
.grid-wrapper-example03-4 {
    grid-auto-columns: minmax(300px, 600px);
}
.grid-wrapper-example03-5 {
    grid-auto-columns: fit-content(300px);
}

/*
 * grid-auto-rows プロパティ
 * ・
*/
.grid-wrapper-example03-6 {
    grid-auto-rows: auto; /* 初期値 */
}
.grid-wrapper-example03-7 {
    grid-auto-rows: max-content;
}
.grid-wrapper-example03-8 {
    grid-auto-rows: min-content;
}
.grid-wrapper-example03-9 {
    grid-auto-rows: minmax(auto, 100px);
}
.grid-wrapper-example03-10 {
    grid-auto-rows: fit-content(300px);
}

/*
 * grid-auto-flow プロパティ
 * ・
*/
.grid-wrapper-example03-11 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row; /* 初期値 */
}
.grid-wrapper-example03-12 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
}
.grid-wrapper-example03-13 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column dense;
}
.grid-wrapper-example03-13 :nth-child(1) {
    grid-row-start: 6;
}
/*
 * gap プロパティ
 * ・行と列の間のすき間を定義します。row-gap/columns-gapの一括指定です。
*/
.grid-wrapper-example04-1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: normal normal; /* 初期値 */
}
.grid-wrapper-example04-2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 5px;
}


/* グリッドアイテム */
.grid-items,
.grid-items__nested {
    /* padding: 20px; */
    text-align: center;
    border: 1px solid #fff;
    background-color: yellowgreen;
}
.grid-items:first-child {
    background-color: #6cb90d;
}